<!DOCTYPE html>
<html lang="ar" dir="rtl">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحة التواصل</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
</head>

<body>
    <div class="header">
        {{ other_user.username }}
        <a class="card--link" href="{% url 'listProducts' %}" style="margin-right: 80%;"> التسوق الان</a>
    </div>
    <div class="messages-area">
        {% for message in messages %}
        <div class="message 
        {% if message.sender == request.user %}right{% else %}left{% endif %}
        ">
            <div class="sent-by">{{ message.sender.username }}</div>
            <div class="content">{{ message.message }}</div>
        </div>
        {% endfor %}
    </div>
    <div class="input-area">
        <input type="text" id="message-input">
        <button id="send-btn">إرسال</button>
    </div>
</body>
<script>
    let message_send_btn = document.getElementById("send-btn");
    let message_input = document.getElementById("message-input");
    function send_message() {
        let message = message_input.value;
        if (message === "") {
            return;
        }
        message_input.value = "";
        fetch("{% url 'chatroom-ajax' other_user.id %}",
            {
                method: "POST",
                credentials: 'same-origin',
                headers: {
                    "Content-Type": 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(message)
            }
        ).then(e => e.json()).then(messages => {
            for (message of messages) {
                construct_message(message);
            }
        });
    }

    function load_messages() {
        fetch("{% url 'chatroom-ajax' other_user.id %}")
            .then(e => e.json())
            .then(messages => {
                console.log(messages)
                for (message of messages) {
                    construct_message(message);
                }
            })
    }

    function construct_message(message){
        let messages_container = document.querySelector(".messages-area");
        let class_name = "left"
        if (message.sent){
            class_name = "right"
        }
        let div = document.createElement("div");
        div.classList.add("message", class_name);
        div.innerHTML = `
        <div class="sent-by">${ message.sender }</div>
            <div class="content">${ message.message }</div>
        `
        messages_container.appendChild(div);
        div.scrollIntoView()
    }
    message_send_btn.addEventListener('click', send_message);
    setInterval(load_messages, 2000);
</script>


</html>