{% extends 'base.html' %}


{% block content %}
  <div class="container">
    <h1 class="text-center logo my-4">
      <a href="{% url 'listProducts' %}">إسم المطعم</a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Sign up</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'include/form.html' %}
              <button type="submit" class="btn btn-primary btn-block">Create an account</button>
            </form>
          </div>
          <div class="card-footer text-muted text-center">
            هل تمتك حساب? <a href="{% url 'login' %}">قم بتسجيل الدخول</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}