{% extends "base.html" %}

{% block content %}

{% include "include/carousel.html" %}

{% load static %}


  <body>
    <main>
      <nav>
        <h1> مطعم كنتاكي</h1>
        <h1> قائمة الطعام</h1>
        <h1> تسجيل الدخول</h1>
        <h1> الخط الساخن</h1>
      </nav>
      <div class="container">
        {% for item in products %}
        <div class="card">
            <img class="card--avatar" src="{{item.imageURL}}" />
            <h1 class="card--title">{{item.name}}</h1>
            <div class="cart--row">
              <a class="card--link" href="{% url 'product_detail' item.id %}">التفاصيل</a>
              <p class="card-text"> السعر {{item.price}} ريال </p>
            </div>
            <div class="cart--row">
              <button data-product="{{ item.id }}" data-action="add" class=" card--link btn btn-outline-secondary add-to-cart update-cart">+</button>
              <a class="card--link quantity{{item.id}}">الكمية</a>
              <button data-product="{{ item.id }}" data-action="remove" class="card--link btn btn-outline-secondary add-to-cart update-cart">-</button>
            </div>
        </div>
        {% endfor %}
      </div>
    </main>
  </body>

{% endblock content %}

{% block javaScriot %}
    
    
{% endblock javaScriot %}